<h1 mat-dialog-title>WARNING!</h1>
<div mat-dialog-content>
	<p>Save and back up your recovery key now!</p>
	<p>If the key is lost, it will not be possible to reattach the pool and the
		data will be permanently lost.</p>
	<p>Click the Download Recovery Key link below to download the key now.
		Save the recovery key in a safe location, and make backups of it.</p>
	<p>This type of encryption is primarily targeted at users who are storing sensitive data and want the ability to remove disks from the pool and dispose of/re-use them without concern for erasure.
	iXsystems, Inc. can not be held responsible for any lost or unrecoverable data as a consequence of using this feature.</p>
	<a class="download-link" (click)="downloadKey()">Download Recovery Key</a>
</div>
<div mat-dialog-actions>
  &nbsp;
  <span fxFlex></span>
  <button class="mat-raised-button mat-primary" [disabled]="!isDownloaded" (click)="dialogRef.close(true)">Done</button>
</div>